.venv/
venv/

__pycache__/
*.py[cod]

*.mp4
*.mov

*:Zone.Identifier
*.Zone.Identifier

.env


*.identifier
*.log
*.aux
*.out
*.toc
*.gz
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml

